@import "./bootstrap.css";
@import "./pokemonPage.css";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
   
	--color-unknow: #757575;

	--color-primary: #006d77;
	--color-primary-hover: #83c5be;
}
body{
    background: rgb(252, 243, 243);
}
.poke-list{
    margin-top: 160px;
}
.card {
    margin: auto;
    display: flex;
    flex-direction: row;
    width: 350px;
    height: 200px;
    box-shadow: 4px 4px 1px #00000040;
    border-radius: 30px;
    margin-top: 10px;
    position: relative;
    

}
/* .card-pokeball{
    background-image: url(../../public/images/pokeball.png);
    background-size: 100%;
    background-position: right;
    background-repeat: no-repeat;
    position: absolute;
    right: 0;
    width: 50%;
    height: 100%;
    opacity: 0.2;
    
} */
.card-info {
    display: flex;
    align-items: center;
    margin-left: 50px; 
}  
.card-img {
    display: flex;
    align-items: end;
    justify-content: right;
    margin: 15px;
    margin-right: 22px;
    position: relative; /* Añadir posición relativa */
      
}       
.poke-img {
    height: 140px;
    width: 150px;
    position: relative; /* Añadir posición relativa */
    z-index: 1; /* Asegura que la imagen principal esté sobre la imagen de fondo */
}    
.card:hover {
    transform: scale(1.03);
    cursor: pointer;
}   
.poke-id {
        margin-left: 10px; 
        font-size: 18px;
}    
.poke-name {
    font-weight: bold; 
    font-size: 25px;
    text-transform: capitalize;
    color: white;  
}
.card-types {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
    text-transform: capitalize;
}  
.main-types {
    display: flex;
    flex-direction: column;
    align-items: end;
    text-align: center;
}
  
.card-types span {
    font-size: 16px;
    padding: 5px 20px;
    border-radius: 50px;
    color: #fff;
    width: fit-content;
  }
  
.types-list {
    display: flex;
    flex-direction: column;
  }
  
.btnSection {
    display: flex;
  }
  
.btn-more {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
  }
  
.btn-more button {
    width: 150px; 
    height: 50px; 
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer; 
    font-size: 20px; 
    transition: background-color 0.3s; 
  }
  
.btn-more button:hover {
    background-color: #0056b3; 
  }
 
.water {
	background-color: #54A4E9;
}
.water-type{
    background-color: #81BBEF;
}
.grass {
	background-color: #4FB8A0;
}
.grass-type{
    background-color: #6DC5B0;
}
.poison {
	background-color: #764E88;
}
.poison-type{
    background-color: #9164A6;
}
.fire {
	background-color: #FB6D6C;
}
.fire-type{
    background-color: #FC9C9C;
}
.bug {
	background-color: #729f3f;
}
.bug-type{
    background-color: #88B950;
    
}
.dragon {
	background: linear-gradient(180deg, #53a4cf 50%, #f16e57 50%);
}
.dragon-type{
    background-color: #FC9C9C;
}
.flying {
	background-color: #3dc7ef;
}
.flying-type{
    background-color: #68D5F3;
}
.ground {
	background-color: #ab9842;
}
.ground-type{
    background-color: #C0AE5D;
}
.steel {
	background-color: #9eb7b8;
}
.steel-type{
    background-color: #B9CACB;
}
.psychic {
	background-color: #f366b9;
}
.psychic-type{
    background-color: #F68ECA;
}
.ice {
	background-color: #51c4e7;
}
.ice-type{
    background-color: #81D5EE;
}
.ghost {
	background-color: #3E4A51;
}
.ghost-type{
    background-color: #62747F;
}
.normal {
	background-color: #a4acaf;
}
.normal-type{
    background-color: #BEC4C5;
}
.rock {
	background-color: #a38c21;
}
.rock-type{
    background-color: #CBAE2A;
}
.electric {
	background-color: #FFCE4B;
}
.electric-type{
    background-color: #FFDE85;
}
.fighting {
	background-color: #d56723;
}
.fighting-type{
    background-color: #E28850;
}
.fairy {
	background-color: #fdb9e9;
}
.fairy-type{
    background-color: #FC9CDF;
}
.dark {
	background-color: #707070;
}
.dark-type{
    background-color: #858585;
}
/* filter: hue-rotate(30deg); */
.header{
    width: 100%;
    background-color: rgb(252, 243, 243);
    display: flex;
    justify-content: center;
    background-position: "center";
    background-repeat: no-repeat;
    background-size: contain;
    position: fixed;
    top: 0; /* Mantenerlo en la parte superior de la página */
    left: 50%; /* Centrando horizontalmente */
    transform: translateX(-50%); /* Asegurar que está perfectamente centrado */
    z-index: 1000; /* Asegurar que esté sobre otros elementos */
}
.header-image{
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    height: 140px;
    width: 100%;
    max-width: 387px;
    background-image: url("./../../public/images/logo.png");
    margin: 10px;
}
.callpokemones-btn{
    margin: 90px auto;
    padding: 15px;
    width: 150px; 
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer; 
    font-size: 20px; 
    transition: background-color 0.3s; 
}
.main-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.main-pokemon {
    flex-direction: column;
    margin-bottom: 50px;
}

.header-main-pokemon {
    margin-top: 20px;
    height: 300px;
    display: flex;
    align-items: center;
    position: relative; /* Suave fondo para destacar el contenido */
    padding: 20px;
    border-radius: 10px;
    background-color: #ECEAEA;
}

.page-container {
    display: flex;   
}

.back-btn {
    background-color: var(--color-primary-hover);
    color: white;
    padding: 10px 20px;
    border: solid 1px white;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    height: fit-content;
    
}

.back-btn:hover {
    background-color: var(--color-primary);
}

.main-container {
    width: 100%;
}
.number-pokemon {
    position: absolute;
    top: -2vw;
    left: 2vw;
    font-size: clamp(50px, 10vw, 150px); /* Mínimo de 50px, preferido 10vw, máximo de 150px */
    font-weight: 700;
    color: var(--color-primary-hover);
    padding: clamp(7px, 1.33vw, 25px);
}

.container-img-pokemon {
    order: 2;
    flex: 1;
    padding: 25px;
    text-align: center;
    @media screen and (max-width: 650px) {
        position: absolute;
        left: 0;
        right: 0;
        top:0;
        bottom: 0;
        margin: auto;
        z-index: 1;
        opacity: 0.3;
        filter: grayscale(0.8);
      }
}

.container-img-pokemon img {
    width: 80%;
    max-width: 300px; 
    max-height: 300px;
    border-radius: 15px; 
}

.container-info-pokemon {
    display: flex;
    flex-direction: column;
    order: 1;
    flex: 1;
    padding: 20px;
    z-index: 2;
    @media screen and (max-width: 650px) {
        margin: auto;
    flex: 0;

      }
}

.container-info-pokemon h1 {
    text-align: right;
    font-size: 36px; 
    margin-bottom: 10px;
    z-index: 2;

}

.info-pokemon {
    font-size: 20px;
    display: flex;
    align-items: end;
    text-align: center;
    justify-content: end;
    margin-top: 20px;
}

.group-info {
    font-weight: 700;
    margin: 0 20px;
}

.poke-main-img {
    height: auto;

 
   
}

.main-poke-name {
    text-transform: capitalize;
    margin-bottom: 10px;
    text-align: center;
}