@import "./bootstrap.css";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --color-fire: #ff7402;
	--color-grass: #9bcc50;
	--color-steel: #9eb7b8;
	--color-water: #4592c4;
	--color-psychic: #f366b9;
	--color-ground: #ab9842;
	--color-ice: #51c4e7;
	--color-flying: #3dc7ef;
	--color-ghost: #4d5b64;
	--color-normal: #a4acaf;
	--color-poison: #7e0058;
	--color-rock: #a38c21;
	--color-fighting: #d56723;
	--color-dark: #707070;
	--color-bug: #729f3f;
	--color-dragon: linear-gradient(180deg, #53a4cf 50%, #f16e57 50%);
	--color-electric: #bba909;
	--color-fairy: #fdb9e9;
	--color-shadow: #7b62a3;
	--color-unknow: #757575;

	--color-primary: #006d77;
	--color-primary-hover: #83c5be;
}
body{
    background: white;
}
.card{
    display: flex;
    flex-direction: column;
    width: 350px;
    height: 200px;
    border: 2px solid red;
    justify-content: center; 
    align-items: center;
    box-shadow: 4px 4px 1px #00000040;

}
.card-info{
    display: flex;
    align-items: center; 
    justify-content: center; 
}
.card-types{
    color: white;
    display: flex;
    gap: 10px;
}
.card-types span{
    font-size: 12px;
    padding: 5px 20px;
    border-radius: 5px;
    color: #fff;
}

.container{
    background: rebeccapurple;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
   

}
.poke-img{
    height: 140px;
    width: 150px;
    margin-top: 35px;
    
}
.card:hover{
    transform: scale(1.03);
    cursor: pointer;
}
.poke-id {
    margin-left: 10px; 
    font-size: 18px;
    }
.poke-name{
    margin-top: 5px; 
    font-size: 20px;
    text-transform: capitalize;  
}
.card-types{
    align-items: center;
    gap: 10px;
    margin-top: 10px;
    text-transform: capitalize;
    
}

.card-types span{
    font-size: 16px;
    padding: 5px 20px;
    border-radius: 5px;
    color: #fff;
    width: fit-content;
}
.types-list{
    display: flex;
    flex-direction: column;
}
.btn-more{
    
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
}
.btn-more button {
    width: 150px; 
    height: 50px; 
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer; 
    font-size: 20px; 
    transition: background-color 0.3s; 
  }
 .btn-more button:hover {
    background-color: #0056b3; 
  }
 
.water {
	background-color: var(--color-water);
}

.grass {
	background-color: var(--color-grass);
}

.poison {
	background-color: var(--color-poison);
}

.fire {
	background-color: var(--color-fire);
}

.bug {
	background-color: var(--color-bug);
}

.dragon {
	background: var(--color-dragon);
}

.flying {
	background-color: var(--color-flying);
}

.ground {
	background-color: var(--color-ground);
}

.steel {
	background-color: var(--color-steel);
}

.psychic {
	background-color: var(--color-psychic);
}

.ice {
	background-color: var(--color-ice);
}

.ghost {
	background-color: var(--color-ghost);
}

.normal {
	background-color: var(--color-normal);
}

.rock {
	background-color: var(--color-rock);
}

.electric {
	background-color: var(--color-electric);
}

.fighting {
	background-color: var(--color-fighting);
}

.fairy {
	background-color: var(--color-fairy);
}

.dark {
	background-color: var(--color-dark);
}

.active{
    height: 300px;
    background-color: red;
    transition: all 1s ease;
}

.noactive{
    height: 0px;
    background-color: blue;
    transition: all 1s ease;
}

.header{
    height: 140px;
    width: 387px;
    background-image: url("./../../public/images/logo.png");
    background-position: "center";
    background-repeat: no-repeat;
    background-size: contain;
    margin: 10px auto;
}
.callpokemones-btn{
    margin: 0 auto;
    padding: 15px;
    width: 150px; 
    
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer; 
    font-size: 20px; 
    transition: background-color 0.3s; 
}
.main-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.main-pokemon {
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
}

.header-main-pokemon {
    margin-top: 20px;
    display: flex;
    align-items: center;
    position: relative;
    background-color: #f4f4f9; /* Suave fondo para destacar el contenido */
    padding: 20px;
    border-radius: 10px;
}

.number-pokemon {
    position: absolute;
    top: -40px; /* Ajustado para mejor visualizaci칩n */
    left: 20px;
    font-size: 150px;
    font-weight: 700;
    color: var(--color-primary-hover);
    
}

.cccontainer-img-pokemon {
    order: 2;
    flex: 1;
    padding: 25px;
    text-align: center; /* Centrar imagen */
}

.cccontainer-img-pokemon img {
    width: 80%;
    max-width: 300px; /* Limitar el tama침o m치ximo */
    border-radius: 15px; /* Borde redondeado */
    
}

.cccontainer-info-pokemon {
    display: flex;
    flex-direction: column;
    order: 1;
    flex: 1;
    padding: 20px;
}

.cccontainer-info-pokemon h1 {
    text-align: right;
    font-size: 36px; /* Ajuste del tama침o */
    margin-bottom: 10px;
}

.info-pokemon {
    display: flex;
    justify-content: flex-end; /* Alinear a la derecha */
    margin-top: 20px;
}

.group-info {
    font-weight: 700;
    margin: 0 20px;
}

.poke-main-img {
    height: auto;
}

.main-poke-name {
    text-transform: capitalize;
    margin-bottom: 10px;
    text-align: center;
}

.container-stats {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    margin-top: 20px;
}

.stats {
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex: 1;
    width: 100%; /* Ajustar al contenedor */
}

.stat-group {
    display: flex;
    align-items: center;
    gap: 20px;
    width: 100%; /* Ajustar al contenedor */
}

.stat-group span {
    flex: 1;
    font-weight: 500;
    font-size: 18px;
}

.progress-bar {
    flex: 4;
    height: 20px; /* Menor altura */
    background-color: var(--color-primary);
    border-radius: 10px;
    position: relative;
}

.progress-bar::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background-color: var(--color-secondary);
    border-radius: 10px;
    width: calc(var(--stat-value) * 1%);
}

.counter-stat {
    flex: 1;
    text-align: right;
    font-weight: 700;
    font-size: 16px;    
}
.prueba{
    display: flex;
    flex-direction: column;
    
}
